1.5 'Kruger 60'/Assemblies/Etsi.Ts102034/v010501/Xsd.Unified/sdns_v1.4r13_subset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by Kevin Murray (NDS Limited) -->
<xsd:schema targetNamespace="urn:dvb:metadata:iptv:sdns:2012-1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:dvb="urn:dvb:metadata:iptv:sdns:2012-1"
            xmlns:tva="urn:tva:metadata:2011"
            elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xsd:annotation>
    <xsd:documentation>
      schema to validate the record of the description of the DVB-IP offering of a service Provider
      This is the phase 1.3.1 version of the schema.
    </xsd:documentation>
  </xsd:annotation>

  <xsd:import namespace="urn:tva:metadata:2011" schemaLocation="tva_metadata_3-1_v171.xsd"/>

  <!--
    #########################################################################
    CoD Discovery
    #########################################################################
 -->

  <xsd:complexType name="CoDOffering">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Provides information on Content on Demand Offerings. Note that use of this is now deprecated and BCGOffering should be used instead</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="dvb:OfferingBase">
        <xsd:sequence>
          <xsd:element name="Catalogue" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Name" type="dvb:MultilingualText" maxOccurs="unbounded"/>
                <xsd:element name="Description" type="dvb:MultilingualText" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="Locator" type="xsd:anyURI" maxOccurs="unbounded"/>
              </xsd:sequence>
              <xsd:attribute name="Id" type="dvb:Hexadecimal16bit" use="required"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!--
    #########################################################################
    Service Provider Discovery
    #########################################################################
 -->

  <xsd:complexType name="ServiceProviderDiscovery">
    <!-- Changed from ServiceProviderListType to ServiceProviderDiscovery -->
    <xsd:sequence>
      <xsd:element name="ServiceProvider" type="dvb:ServiceProvider" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="Version" type="dvb:Version" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="ServiceProvider">
    <!-- Changed from ServiceProviderType to ServiceProvider -->
    <xsd:sequence>
      <xsd:element name="Name" type="dvb:MultilingualText" maxOccurs="unbounded" />
      <xsd:element name="Description" type="dvb:MultilingualText" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Offering" type="dvb:ProviderOffering" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="DomainName" type="dvb:DomainType" use="required"/>
    <xsd:attribute name="Version" type="dvb:Version" use="required"/>
    <xsd:attribute name="LogoURI" type="xsd:anyURI" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="ProviderOffering">
    <!-- Changed from OfferingListType to ProviderOffering -->
    <xsd:choice maxOccurs="unbounded">
      <xsd:element name="Push" type="dvb:DvbStpTransportMode"/>
      <xsd:element name="Pull">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="dvb:PayloadList">
              <xsd:attribute name="Location" type="dvb:PullURL" use="required"/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>

  <!--
    #########################################################################
    Broadcast Content Guide (EPG) Discovery
    #########################################################################
 -->

  <xsd:complexType name="BroadcastContentGuideOffering">
    <!-- Changed from BCGOffering to BroadcastContentGuideOffering -->
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Provides information on Broadband Content Guide Offerings</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="dvb:OfferingBase">
        <xsd:sequence>
          <xsd:element name="BCG" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Name" type="dvb:MultilingualText" maxOccurs="unbounded"/>
                <xsd:element name="Description" type="dvb:MultilingualText" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="TransportMode" type="dvb:TransportMode"/>
                <xsd:element name="Logo" type="xsd:anyURI" minOccurs="0"/>
                <xsd:element name="Type" type="tva:ControlledTermType" minOccurs="0"/>
                <xsd:element name="TargetProvider" type="dvb:DomainType" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="BCGProviderName" type="dvb:MultilingualText" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="CDSDownloadSessionDescriptionLocation" type="dvb:CdsDownloadSessionDescriptionLocation" minOccurs="0"/>
              </xsd:sequence>
              <xsd:attribute name="Id" type="tva:TVAIDType" use="required"/>
              <xsd:attribute name="Version" type="dvb:Version" use="optional"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TransportMode">
    <!-- Changed from TransportModeType to TransportMode -->
    <xsd:choice maxOccurs="unbounded">
      <xsd:element name="DVBSTP" type="dvb:DvbStpTransportMode"/>
      <xsd:element name="HTTP" type="dvb:HttpTransportMode"/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="HttpTransportMode">
    <!-- Changed from HTTPTransportModeType to HttpTransportMode -->
    <xsd:complexContent>
      <xsd:extension base="dvb:PayloadList">
        <xsd:attribute name="Location" type="dvb:PullURL" use="required"/>
        <xsd:attribute name="SOAP" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CdsDownloadSessionDescriptionLocation">
    <!-- Changed from  to CdsDownloadSessionDescriptionLocation -->
    <xsd:choice maxOccurs="unbounded">
      <xsd:element name="DVBSTP">
        <xsd:complexType>
          <xsd:attributeGroup ref="dvb:BasicMulticastAddressAttributes"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SAP">
        <xsd:complexType>
          <xsd:attributeGroup ref="dvb:BasicMulticastAddressAttributes"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>

  <!--
    #########################################################################
    Regionalization Discovery
    #########################################################################
 -->

  <xsd:complexType name="RegionalizationOffering">
    <xsd:complexContent>
      <xsd:extension base="dvb:OfferingBase">
        <xsd:sequence>
          <xsd:element name="Cell" type="dvb:RegionalizationCell" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RegionalizationCell">
    <!-- Changed from Cell to RegionalizationCell -->
    <xsd:sequence>
      <xsd:element name="CountryCode" type="xsd:string"/>
      <xsd:element name="CA" type="dvb:CivicAddress" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="Id" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="CivicAddress">
    <xsd:sequence>
      <xsd:element name="CA" type="dvb:CivicAddress" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="Type" type="xsd:string" use="required"/>
    <xsd:attribute name="Value" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!--
    #########################################################################
    Remote Management and Firmware Update Services (RMS-FUS) Discovery
    #########################################################################
 -->
  <xsd:complexType name="RmsFusDiscovery">
    <!-- Changed from RMSFUSDiscoveryType to RmsFusDiscovery -->
    <xsd:complexContent>
      <xsd:extension base="dvb:OfferingBase">
        <xsd:choice>
          <xsd:element name="FUSProvider" type="dvb:FirmwareUpdateProvider" maxOccurs="unbounded"/>
          <xsd:element name="RMSProvider" type="dvb:RemoteManagementProvider" maxOccurs="unbounded"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FirmwareUpdateProvider">
    <!-- Changed from FUSType to FirmwareUpdateProvider  -->
    <xsd:sequence>
      <xsd:element name="FUSName" type="dvb:MultilingualText" maxOccurs="unbounded"/>
      <xsd:element name="FUSID" type="xsd:decimal"/>
      <xsd:element name="Description" type="dvb:MultilingualText" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="FUSAnnouncement" type="dvb:FirmwareUpdateAnnouncement" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="LogoURI" type="xsd:anyURI" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="FirmwareUpdateAnnouncement">
    <!-- Changed from FUSAnnouncementType to FirmwareUpdateAnnouncement  -->
    <xsd:sequence>
      <xsd:element name="FUSAnnouncementDescription" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MulticastAnnouncementAddress" type="dvb:RmsFusMulticastAddressKind" minOccurs="0"/>
      <xsd:element name="FUSUnicastAnnouncement" type="xsd:anyURI" minOccurs="0"/>
      <xsd:element name="QRCLocation" type="xsd:anyURI" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RmsFusMulticastAddressKind">
    <!-- Changed from RMSFUSMulticastAddressType to RmsFusMulticastAddressKind -->
    <xsd:attributeGroup ref="dvb:BasicMulticastAddressAttributes"/>
    <xsd:attribute name="Protocol" use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="1 SAP"/>
          <xsd:enumeration value="2 DVBSTP"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="RemoteManagementProvider">
    <!-- Changed from RMSType to RemoteManagementProvider -->
    <xsd:sequence>
      <xsd:element name="RMSName" type="dvb:MultilingualText" maxOccurs="unbounded"/>
      <xsd:element name="RMSID" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="Description" type="dvb:MultilingualText" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="LogoURI" type="xsd:anyURI" use="optional"/>
    <xsd:attribute name="RMSLocation" type="xsd:anyURI" use="required"/>
  </xsd:complexType>

  <!--
    #########################################################################
    Broadcast Discovery
    (Referenced from urn:dvb:metadata:iptv:sdns:2012-1 schema)
    #########################################################################
 -->

  <xsd:complexType name="IpMulticastAddress">
    <!-- Changed from McastType to IpMulticastAddress -->
    <xsd:sequence minOccurs="0">
      <xsd:element name="FECBaseLayer" type="dvb:FecLayerAddress" minOccurs="0"/>
      <xsd:element name="FECEnhancementLayer" type="dvb:FecLayerAddress" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="CNAME" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ssrc" type="xsd:unsignedInt" minOccurs="0"/>
      <xsd:element name="RTPRetransmission" type="dvb:RetransmissionInfo" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="dvb:MulticastAddressAttributes"/>
  </xsd:complexType>

  <xsd:complexType name="RtspUrl">
    <!-- Changed from RTSPURLType to RtspUrl -->
    <xsd:simpleContent>
      <xsd:extension base="dvb:RTSP">
        <xsd:attribute name="RTSPControlURL" type="xsd:anyURI" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!--
    #########################################################################
    Forward Error Correction / Retransmission types
    #########################################################################
 -->

  <xsd:complexType name="FecInfo">
    <!-- Changed from FECInfoType to FecInfo -->
    <xsd:sequence>
      <xsd:element name="FECBaseLayer" type="dvb:FecLayerAddress"/>
      <xsd:element name="FECEnhancementLayer" type="dvb:FecLayerAddress" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="dvb:FECAttributeGroup"/>
  </xsd:complexType>


<xsd:complexType name="FecLayerAddress">
  <!-- Changed from FECLayerAddressType to FecLayerAddress-->
    <xsd:attribute name="Address" type="dvb:IPOrDomainType" use="optional"/>
    <xsd:attribute name="Source" type="dvb:IPOrDomainType" use="optional"/>
    <xsd:attribute name="Port" type="xsd:unsignedShort" use="optional"/>
    <xsd:attribute name="MaxBitrate" type="xsd:positiveInteger" use="optional"/>
    <xsd:attribute name="RTSPControlURL" type="xsd:anyURI" use="optional"/>
    <xsd:attribute name="PayloadTypeNumber" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="TransportProtocol" type="dvb:TransportProtocolType" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="RetransmissionInfo">
  <!-- Changed from RETInfoType to RetransmissionInfo -->
    <xsd:sequence>
      <xsd:element name="RTCPReporting" type="dvb:RtcpRetransmissionReporting"/>
      <xsd:element name="UnicastRET" type="dvb:UnicastRetransmission" minOccurs="0"/>
      <xsd:element name="MulticastRET" type="dvb:MulticastRetransmission" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RtcpRetransmissionReporting">
    <!-- Changed from RTCPReportingType to RtcpRetransmissionReporting -->
    <xsd:attribute name="DestinationAddress" type="xsd:string" use="required"/>
    <xsd:attribute name="DestinationPort" type="xsd:unsignedShort" use="optional"/>
    <xsd:attribute name="dvb-t-ret" type="xsd:positiveInteger" use="optional"/>
    <xsd:attribute name="rtcp-bandwidth" type="xsd:positiveInteger" use="optional"/>
    <xsd:attribute name="rtcp-rsize" type="xsd:positiveInteger" use="optional"/>
    <xsd:attribute name="trr-int" type="xsd:positiveInteger" use="optional"/>
    <xsd:attribute name="dvb-disable-rtcp-rr" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="dvb-enable-byte" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="dvb-t-wait-min" type="xsd:unsignedInt" use="optional" default="0"/>
    <xsd:attribute name="dvb-t-wait-max" type="xsd:unsignedInt" use="optional" default="0"/>
    <xsd:attribute name="dvb-ssrc-bitmask" type="dvb:Hexadecimal32bit" use="optional" default="ffffffff"/>
    <xsd:attribute name="dvb-rsi-mc-ret" type="xsd:boolean" use="optional"/>
    <xsd:attribute name="dvb-ssrc-upstream-client" type="xsd:positiveInteger" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="UnicastRetransmission">
    <!-- Changed from UnicastRETType to UnicastRetransmission -->
    <xsd:attribute name="trr-int" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="DestinationPort-ForRTCPReporting" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="SourcePort" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="RTSPControlURL" type="xsd:anyURI" use="optional"/>
    <xsd:attributeGroup ref="dvb:CommonCastRetransmission"/>
  </xsd:complexType>

  <xsd:complexType name="MulticastRetransmission">
    <!-- Changed from MulticastRETType to MulticastRetransmission -->
    <xsd:attribute name="SourceAddress" type="xsd:string" use="optional"/>
    <xsd:attribute name="GroupAddress" type="xsd:string" use="required"/>
    <xsd:attributeGroup ref="dvb:CommonCastRetransmission"/>
  </xsd:complexType>

  <xsd:attributeGroup name="CommonCastRetransmission">
    <!-- Changed from CommonCastRETType to CommonCastRetransmission  -->
    <xsd:attribute name="ssrc" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="RTPPayloadTypeNumber" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="dvb-original-copy-ret" type="xsd:boolean" use="optional"/>
    <xsd:attribute name="rtcp-mux" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="DestinationPort" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="rtx-time" type="xsd:unsignedInt" use="required"/>
  </xsd:attributeGroup>

  <!--
    #########################################################################
    Common complex types
    #########################################################################
 -->
  
  <xsd:complexType name="OfferingBase">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Base class from which all offerings should be derived</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="DomainName" type="dvb:DomainType" use="required"/>
    <xsd:attribute name="Version" type="dvb:Version" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="MultilingualText">
    <!--Changed from MultilingualType to MultilingualText -->
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="Language" type="dvb:ISO639-2" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="TextualIdentifier">
    <xsd:attribute name="DomainName" type="dvb:DomainType" use="optional"/>
    <xsd:attribute name="ServiceName" type="dvb:Service" use="required"/>
  </xsd:complexType>

    <xsd:complexType name="PayloadList">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="PayloadId">
        <xsd:complexType>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Segment">
              <xsd:complexType>
                <xsd:attribute name="Version" type="dvb:Version" use="optional"/>
                <xsd:attribute name="ID" type="dvb:Hexadecimal16bit" use="required"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="Id" type="dvb:Hexadecimal8bit" use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
 
  <xsd:complexType name="DvbStpTransportMode">
    <!-- Changed from DVBSTPTransportModeType to DvbStpTransportMode -->
    <xsd:complexContent>
      <xsd:extension base="dvb:PayloadList">
        <xsd:attributeGroup ref="dvb:BasicMulticastAddressAttributes"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ServiceAvailability">
    <!-- Changed from ServiceAvailabilityType to ServiceAvailability -->
    <xsd:sequence>
      <xsd:element name="CountryCode" type="dvb:PackageAvailabilityCountryCode"/>
      <xsd:element name="Cells" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PackageAvailabilityCountryCode">
    <!-- Changed from PackageAvailabilityCountryCodeType to PackageAvailabilityCountryCode -->
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="Availability" type="xsd:boolean" use="optional" default="true"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="CountryAvailability">
    <xsd:attribute name="Countries" type="dvb:ISO-3166-List" use="required"/>
    <xsd:attribute name="Available" type="xsd:boolean" default="true"/>
  </xsd:complexType>
  
  <!--
    #########################################################################
    Common attribute groups
    #########################################################################
 -->
  
  <xsd:attributeGroup name="BasicMulticastAddressAttributes">
    <!-- Changed from BasicMulticastAddressAttributesType to BasicMulticastAddressAttributes-->
    <xsd:attribute name="Source" type="dvb:IPOrDomainType" use="optional"/>
    <xsd:attribute name="Address" type="dvb:IPOrDomainType" use="required"/>
    <xsd:attribute name="Port" type="xsd:unsignedShort" use="required"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="MulticastAddressAttributes">
    <xsd:attribute name="Source" type="dvb:IPOrDomainType" use="optional"/>
    <xsd:attribute name="Address" type="dvb:IPOrDomainType" use="required"/>
    <xsd:attribute name="Port" type="xsd:unsignedShort" use="required"/>
    <xsd:attribute name="Streaming" type="dvb:StreamingType" use="optional" />
    <xsd:attributeGroup ref="dvb:FECAttributeGroup"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="FECAttributeGroup">
    <!-- Changed from FECAttributeGroupType to FECAttributeGroup -->
    <xsd:attribute name="FECMaxBlockSize" type="xsd:unsignedShort" use="optional"/>
    <xsd:attribute name="FECMaxBlockTime" type="xsd:unsignedShort" use="optional"/>
    <xsd:attribute name="FECOTI" type="xsd:base64Binary" use="optional"/>
  </xsd:attributeGroup>

  <!--
    #########################################################################
    Common simple types
    #########################################################################
 -->
  <xsd:simpleType name="TransportProtocolType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="RTP-AVP"/>
      <xsd:enumeration value="UDP-FEC"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Genre">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">General Genre of a service. Meanings are from the content_nibble_level_1 field of the content_descriptor in ETSI EN 300 468 (table 26).</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:byte">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="15"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Hexadecimal3bit">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-7]"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Hexadecimal4bit">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-fA-F]"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Hexadecimal8bit">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-fA-F]{1,2}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Hexadecimal16bit">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-fA-F]{1,4}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Hexadecimal32bit">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-fA-F]{8}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Integer6bit">
    <xsd:restriction base="xsd:unsignedShort">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="63"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="IPOrDomainType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">union of DomainType and IPType</xsd:documentation>
    </xsd:annotation>
    <xsd:union memberTypes="dvb:IPType dvb:DomainType"/>
  </xsd:simpleType>

  <xsd:simpleType name="DomainType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="((.|\n|\r)*)?(\.(.|\n|\r)*)+"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="IPType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Type equivalent to the IPv4 dotted Address Notation a.b.c.d. This supports DECIMAL ONLY</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="((([1-9]?[0-9])|(1[0-9][0-9])|(2[0-4][0-9])|(25[0-5]))\.){3}(([1-9]?[0-9])|(1[0-9][0-9])|(2[0-4][0-9])|(25[0-5]))"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ISO-3166-List">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A comma separated list of one or more country codes, where the codes are defined by ISO-3166.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\c\c\c(,\c\c\c)*"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ISO639-2">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Type for 3 letter lanuage codes. Value space is be IS 639-2 valid codes.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\c\c\c"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="OrigNetId">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A unique identifier of a network. This is managed by DVB through ETSI, and listed in ETSI TR 101 162</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:unsignedShort"/>
  </xsd:simpleType>

  <xsd:simpleType name="PrimaryServiceInformationSource">
    <!-- Changed from PrimarySISource to PrimaryServiceInformationSource -->
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Stream"/>
      <xsd:enumeration value="XML"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PullURL">
    <xsd:restriction base="xsd:anyURI">
      <xsd:pattern value=".*/dvb/sdns.*"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RTSP">
    <xsd:restriction base="xsd:anyURI">
      <xsd:pattern value="rtsp://.*"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Service">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(.|\n|\r)+"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ServiceId">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A number used to identify a service within a Transport Stream. See ETSI EN 300 468</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:unsignedShort"/>
  </xsd:simpleType>

  <xsd:simpleType name="TSId">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A number used to identify Transport Stream within an original_network. See ETSI EN 300 468</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:unsignedShort"/>
  </xsd:simpleType>

  <xsd:simpleType name="ServiceType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The "Type" of a service (e.g. radio, TV, mosaic, ...). See ETSI EN 300 468, table 72 for details of values</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="dvb:Hexadecimal8bit"/>
  </xsd:simpleType>

  <xsd:simpleType name="Version">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-fA-F]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StreamingType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="rtp"/>
      <xsd:enumeration value="udp"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>